<!DOCTYPE html>
<html ng-app="filterApp">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			/*解决html不良闪烁问题*/
			[ng-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<div ng-controller="indexCtrl" ng-cloak>
			<button ng-click='pageTo(1)'>第一页</button>
			<button ng-click='pageTo(2)'>第二页</button>
			<button ng-click='pageTo(3)'>第三页</button>
			<button ng-click='pageTo(4)'>第四页</button>
			<button ng-click='pre()'>上一页</button>
			<button ng-click='next()'>下一页</button>
			<ul>
				<li ng-repeat="arr in arrs|limitTo:2:pageNum">{{arr.name}}</li>
			</ul>
		</div>
	</body>
	<script src="js/angular.js"></script>
	<script>
		var app = angular.module('filterApp', []);
		app.controller('indexCtrl', ['$scope', function($scope) {
			$scope.name = 'yao';
			$scope.pageNum = 0;
			$scope.pre = function() {
				console.log($scope.pageNum)
				if($scope.pageNum > 0) {
					$scope.pageNum -= 2;
				}								
			}
			$scope.next = function() {
				console.log($scope.pageNum)
				if($scope.pageNum < $scope.arrs.length - 1){
					$scope.pageNum += 2
				}				
			}
			$scope.pageTo = function(pageNum) {
				$scope.pageNum = (pageNum - 1) * 2;
			}
			$scope.arrs = [{
				name: 'Mark',
				age: 25
			}, {
				name: '제이비',
				age: 24
			}, {
				name: 'Jackson',
				age: 24
			}, {
				name: '진영',
				age: 24
			}, {
				name: '영재',
				age: 22
			}, {
				name: 'BamBam',
				age: 21
			}, {
				name: '유겸',
				age: 21
			}];
		}])
	</script>

</html>
