<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			body {
				margin: 0;
				padding: 0;
			}
			.box {
				width: 100%;
				height: 500px;
				background-color: lightcoral;
			}
			footer {
				width: 100%;
				height: 80px;
				background-color: #FFA07A;
			}
		</style>
	</head>
	<body>

		<div class="box"></div>
		
		<%-include('../include/footer') %>

	</body>
</html>
